.header {
	position: fixed;
	left: 0;
	right: 0;
	transition: background-color 0.5s;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 110px;
		transition: height 0.7s;
	}

	&__list {
		display: flex;

		@include r($xl) {
			display: block;
			position: absolute;
			top: 0;
			right: 30%;
			left: 0;
			opacity: 0.95;
			padding-top: 90px;
			background-color: #000;
			padding-left: 100px;
			height: 100vh;
			transform: translateX(-200%);
			transition: transform 0.9s ease-in-out;
		}

		&--active {
			@include r($xl) {
				transform: translateX(0%);
				transform-origin: left;
			}
		}
	}

	&__item {
		margin-right: 55px;

		&:last-child {
			margin-right: 0;
		}

		@include r($xl) {
			margin-right: 0;
			padding: 30px 0;
		}
	}

	&__link {
		transition: color 0.5s;

		&:hover {
			color: #c89afc;
		}

		@include r($xl) {
			padding: 30px 10px;
		}
	}

	&__btn {
		background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);

		&:after {
			background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
		}

		@include r($sm) {
			display: none;
		}
	}
}

.logo {
	position: relative;
	width: 40px;
	height: 40px;
	object-fit: cover;
	z-index: 1;
}

.burger {
	display: none;
	background-color: transparent;
	border: none;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	padding: 0 10px;

	@include r($xl) {
		display: block;
	}

	@include r($sm) {
		margin: 0 0 0 auto;
	}
}

.burger span {
	display: block;
	width: 45px;
	height: 5px;
	background-color: #fff;
	margin: 8px 0;
}
