.top {
	background-size: cover;
	background-position: center top;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		max-width: 790px;
		margin: auto 0;
	}

	&__title {
		margin: auto 0 50px;
		font-weight: 700;
		font-size: 64px;
		line-height: 90 / 64 * 100%;

		@include r($xl) {
			font-size: 44px;
		}

		@include r($sm) {
			margin: auto 0;
			font-size: 32px;
		}
	}
}

.clock {
	display: flex;
	margin-bottom: auto;

	@include r($sm) {
		display: none;
	}

	&__item {
		margin-right: 30px;
		width: 100px;
		height: 110px;
		background-color: #121212;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&:last-child {
			margin-right: 0;
		}
	}

	&-num {
		font-weight: 700;
		font-size: 36px;
		line-height: 140%;
	}

	&__text {
		line-height: 140%;
		opacity: 0.2;
	}
}

.statistics {
	background-color: #121212;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: start;
		padding: 40px 0;

		@include r($xl) {
			flex-direction: column-reverse;
		}
	}

	&__students-num {
		@include r($xl) {
			margin-bottom: 40px;
		}
	}

	&__item {
		display: flex;

		&--mobile {
			@include r($sm) {
				display: block;
			}
		}
	}

	&__text {
		display: block;
		margin-bottom: 5px;
		width: 220px;
		opacity: 0.4;
		line-height: 150%;
	}

	&__num {
		display: block;
		line-height: 150%;
	}

	&__progress {
		max-width: 715px;
		width: 100%;

		@include r($xl) {
			margin-bottom: 20px;
		}
	}

	&__progress-bar {
		position: relative;
		border-radius: 10px;
		width: 100%;
		height: 6px;
		background-color: #fff;
		margin-bottom: 5px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			border-radius: inherit;
			width: 40%;
			height: 6px;
			background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
		}
	}

	&__sum {
		display: flex;
		justify-content: space-between;
		opacity: 0.4;
		line-height: 150%;
	}
}
