body {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #fff;
}

.container {
	max-width: 1326px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	font-weight: 700;
	font-size: 48px;
	line-height: 140%;
}

.btn {
	position: relative;
	background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
	padding: 10px 30px;
	border-radius: 50px;
	line-height: 150%;
	border: none;
	color: inherit;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50px;
		width: 100%;
		height: 100%;
		color: inherit;
		background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
		opacity: 0;
		transition: opacity 0.5s;
	}

	&--hover {
		position: relative;
		z-index: 1;
	}

	&:hover:after {
		opacity: 1;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
